
@media all and (max-width: 1350px) {
    .footer__list {
        width: 40%;
    }
    .header__btn {
        width: 40%;
    }
}

@media all and (max-width: 1150px) {
    .navbar__list {
        width: 40%;
    }
}

@media all and (max-width: 1160px) {
    .header__title_left {
        font-size: 60px;
    }

    .portfolio__item {
        width: 25%;
    }

    .portfolio__item > img {
        width: 100%;
    }
    .header__btn {
        width: 50%;
    }
}

@media all and (max-width: 1100px) {
    .info-block__title {
        font-size: 45px;
    }
}

@media all and (max-width: 1000px) {

    .footer__list {
        width: 45%;
    }

    .header__block_right {
        width: 60%;
    }

    .header__img {
        width: 100%;
    }

    #vector_1 {
        left: 0;
    }

    #vector_3 {
        top: 500px;
        left: -30px;
    }

    .header__title_left, .services__title_main, .info-block__title, .portfolio__title {
        font-size: 40px;
    }

    header {
        margin-top: 0;
    }

    .info-block__btn {
        width: 25%;
    }

}

@media all and (max-width: 950px) {
    .services__item {
        width: 30%;
        margin: 0 1.5%;
    }

    .portfolio__list {
        padding: 0;
    }

    .header__btn {
        width: 60%;
    }
}

@media all and (max-width: 900px) {
    
    .footer__list {
        width: 50%;
        padding: 0;
    }

    .footer__item {
        font-size: 15px;
    }

    .footer__desc {
        font-size: 15px;
        width: 20%;
        text-align: center;
    }

    .services__title {
        margin-bottom: 10px;
    }

}

@media all and (max-width: 860px) {

    .info-block__title {
        font-size: 30px;
    }

    .header__block_right{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__img {
        width: 80%;
        height: 80%;
    }

    .footer__logo {
        width: 10%;
        height: auto;
    }

    .navbar__list {
        width: 50%;
        padding: 0;
    }

    .navbar__input {
        width: 20%;
    }

    .services__title_main {
        width: 80%;
    }


}

@media all and (max-width: 800px) {

    header {
        flex-direction: column;
    }

    .header__block_left {
        width: 80%;
    }

    .header__title_left {
        margin-top: 15%;
    }

    .header__btn {
        width: 35%;
    }

    .header__block_right {
        width: 100%;
        align-self: center;
    }

    .services__item {
        width: 40%;
        /* flex-wrap: wrap; */
    }

    .navbar__logo {
        width: 20%;
    }
    
    .footer__logo {
        width: 20%;
    }

}

@media all and (max-width: 750px) {
    
    .header__block_right {
        width: 80%;
    }

    #vector_3 {
        top: 350px;
    }

    .navbar__list, .navbar__input {
        display: none;
    }

    .navbar__btn_burger {
        display: block;
    }
}

@media all and (max-width: 700px) {

    .portfolio__item:nth-child(2), .portfolio__item:nth-child(3) {
        display: none;
    }

    .portfolio__list {
        justify-content: center;
    }

    .portfolio__item {
        width: 50%;
    }

    .portfolio__icon {
        display: none;
    }

    .portfolio__icon_group {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }

    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;    
    }

    .footer__list {
        width: 60%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer__desc {
        width: 60%;
    }

    .footer__item {
        margin-bottom: 15px;

    }


}

@media all and (max-width: 650px) {
    .portfolio__title {
        font-size: 35px;
    }

    .portfolio__item {
        width: 70%;
    }

    #vector_3 {
        top: 320px;
    }

    #vector_1 {
        top: 80px;
    }

    .header__btn {
        width: 50%;
    }
}

@media all and (max-width: 600px) {
    .services__item {
        width: 70%;
    }

    .services__list {
        justify-content: center;
    }

    .header__img {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 500px) {
    .info-block {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .info-block__title {
        width: 80%;
    }

    .info-block__btn {
        width: 40%;
        margin-top: 10%;
        font-size: 15px;
        height: 40px;
    }

    #vector_3 {
        top: 300px;
    }
}

@media all and (max-width: 400px) {
    .header__btn {
        width: 70%;
    }

    .header__img {
        width: 100%;
    }

    #vector_3 {
        top: 250px;
    }

    #vector_1 {
        left: -15px;
    }

    #vector_2 {
        right: 10px;
    }

    #vector_4 {
        right: 10px;
    }

    .services__title_main {
        width: 100%;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .info-block__title {
        width: 100%;
    }
}

@media all and (max-width: 380px) {
    .header__desc_left {
        font-size: 16px;
        width: 100%;
    }

    .footer__list {
        width: 100%;
    }

    .footer__desc {
        width: 100%;
    }
}